* {
  margin: 0;
  padding: 0;
}

/* ***************************************************************  */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.topnav img {
  float: left;
  height: 40px;
  width: 40px;
  padding: 5px 16px;
}

ul {
  list-style-type:none;
}

/* Change the color of links on hover */
.topnav a:hover {
  transform: translate(0, -1px);
  box-shadow: 0px 2px 2px 2px;
  background-color: black;
  color: #4CAF50;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* ***************************************************************  */

.home_logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  background: pink;
}

#main-logo {
  margin: 125px auto;
  height: 274px;
}

/* ***************************************************************  */

/*center button position and skins*/
.center_btn {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  margin-top: 10px;
  animation-name: bouncy;
}

a.center_btn {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
}

a.center_btn:hover{
  transform: translate(0, -5px);
  box-shadow: 2px 2px 2px 0px;
  color: #4CAF50;
  background-color:#000000;
}

@media all and (max-width:30em){
a.center_btn{
  display:block;
  margin:0.4em auto;
}

.bouncy{
  animation:bouncy 5s infinite linear;
  position:relative;
}

@keyframes bouncy{
  0%   {top:0em}
  40%  {top:0em}
  43%  {top:-0.9em}
  46%  {top:0em}
  48%  {top:-0.4em}
  50%  {top:0em}
  100% {top:0em;}
}

}